body{
    /* background-color: black; */
   
}
   
header .container{
    background-color: black;
    margin: 0;
    display: flex; /* fica alinhado na tela, no caso na div */
    align-items: center;
    justify-content: space-between;
    
    }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header .logo{
    font-family: 'Arial', sans-serif; /* Substitua pela fonte desejada */
    font-size: 24px;
    color: #e50914; /* Cor da fonte da Netflix */
    letter-spacing: 2px; /* Espaçamento entre as letras */
    display: inline-block;
}
header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
    position: relative;
}
header nav a:hover{
color: #fff;
}